{% load static %}
<body>
  <!-- footer section -->
  <footer class="site-footer">
    <div class="unique-footer-wrapper">
        <div class="unique-footer-row">
            <div class="unique-footer-column">
                <h4 class="unique-title">Company</h4>
                <ul class="unique-list">
                    <li><a href="{% url 'about_us' %}" class="unique-link">About Us</a></li>
                    <li><a href="#" class="unique-link">Our Services</a></li>
                    <li><a href="{% url 'contact' %}" class="unique-link">Contact Us</a></li>
                    <li><a href="{% url 'explore' %}" class="unique-link">Affiliate Program</a></li>
                </ul>
            </div>
            <div class="unique-footer-column">
                <h4 class="unique-title">Policies</h4>
                <ul class="unique-list">
                    <li><a href="#" class="unique-link">FAQ</a></li>
                    <li><a href="#" class="unique-link">Privacy Policy</a></li>
                    <li><a href="#" class="unique-link">Usage Policy</a></li>
                    <li><a href="#" class="unique-link">Terms & Conditions</a></li>
                    <li><a href="#" class="unique-link">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="unique-footer-column">
                <h4 class="unique-title">Services</h4>
                <ul class="unique-list">
                    <li><a href="#" class="unique-link">Government</a></li>
                    <li><a href="{% url 'explore' %}" class="unique-link">School Education</a></li>
                    <li><a href="{% url 'explore' %}" class="unique-link">Higher Education</a></li>
                    <li><a href="{% url 'explore' %}" class="unique-link">Vocational Education</a></li>
                </ul>
            </div>
            <div class="unique-footer-column">
                <h4 class="unique-title">Follow Us</h4>
                <div class="unique-social-links">
                    <a href="https://www.linkedin.com/in/vishal-mishra-it/" target="_blank" class="unique-social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/vishal-mishra-it/" target="_blank" class="unique-social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/vishal-mishra-it/" target="_blank" class="unique-social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/vishal-mishra-it/" target="_blank" class="unique-social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            <div class="unique-footer-column">
                <h4 class="unique-title">Reach Us</h4>
                <ul class="unique-list">
                    <li><a href="#" class="unique-link">KD Empire, Ramdev Park Bhayandar 401105</a></li>
                    <li><a href="#" class="unique-link">www.careerpathNavigator.com</a></li>
                    <li><a href="#" class="unique-link">9876541254</a></li>
                </ul>
            </div>
        </div>
        <div class="unique-copyright">
            <p>&copy; 2025 CareerPathNavigator. All rights reserved.</p>
        </div>
    </div>
</footer>
<!-- footer copyright section end -->

</body>