{% extends 'base.html' %}
{% load static %} 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'contact/contact.css' %}">
<div class="nopadding">
<div class="success-card-container">
    <div class="success-container">
        <div class="success-animation">
            <div class="success-icon">
                <div class="success-circle"></div>
                <div class="success-checkmark"></div>
            </div>
        </div>
        
        <div class="success-content">
            <h1 class="success-title">Thank You!</h1>
            <p class="success-message">Your contact information and message were successfully submitted.</p>
            <p class="success-submessage">We appreciate you taking the time to reach out to us. Our team will get back to you shortly.</p>
            
            <div class="success-actions">
                <a href="/" class="home-btn">
                    <i class="fas fa-home"></i> Return Home
                </a>
                <a href="{% url 'contact' %}" class="contact-btn">
                    <i class="fas fa-envelope"></i> Send Another Message
                </a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}